* {
    transition: all 0.25s linear 0s;
    font-family: sofia-pro, sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
}
.mega {
    height: calc(100vh - 100px);
    width: calc(50vw - 50px);
    background-color: rgb(17, 34, 72);
    position: fixed;
    top: 50px;
    left: 50px;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
    animation: megaMode 5s ease-in 0s 1 normal forwards running;
}
.logo {
    position: absolute;
    height: 100px;
    margin-left: calc(50% - 50px);
    margin-top: calc(50% - 50px);
}
.ring {
    position: absolute;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.r1 {
    height: 20%;
    /* margin-left: 36.125%; */
    margin-left: 22.5%;
    margin-top: 27.5%;
    -webkit-animation: rotating 6s linear infinite;
    -moz-animation: rotating 6s linear infinite;
    -ms-animation: rotating 6s linear infinite;
    -o-animation: rotating 6s linear infinite;
    animation: rotating 6s linear infinite;
}
.r2 {
    height: 40%;
    margin-left: 10%;
    margin-top: 40%;
    -webkit-animation: rotating 6.25s linear infinite;
    -moz-animation: rotating 6.25s linear infinite;
    -ms-animation: rotating 6.25s linear infinite;
    -o-animation: rotating 6.25s linear infinite;
    animation: rotating 6.25s linear infinite;
}
.r3 {
    height: 55%;
    margin-left: -5%;
    margin-top: 55%;
    -webkit-animation: rotating 6.5s linear infinite;
    -moz-animation: rotating 6.5s linear infinite;
    -ms-animation: rotating 6.5s linear infinite;
    -o-animation: rotating 6.5s linear infinite;
    animation: rotating 6.5s linear infinite;
}
.r4 {
    height: 75%;
    margin-left: -25%;
    margin-top: 75%;
    -webkit-animation: rotating 6.75s linear infinite;
    -moz-animation: rotating 6.75s linear infinite;
    -ms-animation: rotating 6.75s linear infinite;
    -o-animation: rotating 6.75s linear infinite;
    animation: rotating 6.75s linear infinite;
}
.r5 {
    height: 100%;
    margin-left: -50%;
    margin-top: 100%;
    -webkit-animation: rotating 7s linear infinite;
    -moz-animation: rotating 7s linear infinite;
    -ms-animation: rotating 7s linear infinite;
    -o-animation: rotating 7s linear infinite;
    animation: rotating 7s linear infinite;
}
.r6 {
    height: 130%;
    margin-left: -80%;
    margin-top: 130%;
    -webkit-animation: rotating 7.25s linear infinite;
    -moz-animation: rotating 7.25s linear infinite;
    -ms-animation: rotating 7.25s linear infinite;
    -o-animation: rotating 7.25s linear infinite;
    animation: rotating 7.25s linear infinite;
}
