* {
    transition: all 0.25s linear 0s;
    font-family: sofia-pro, sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
}
.catch {
    position: fixed;
    width: 100vw;
    bottom: 25px;
    z-index: 5;
}
.content-container {
    position: relative;
    left: 50%;
    float: left;
    z-index: 1;
}
.actionless {
    position: relative;
    display: inline-block;
    left: -50%;
    float: left;
    width: auto;
    font-weight: bold;
    z-index: 1;
    font-family: sofia-pro, sans-serif;
    background-color: rgb(240, 96, 34);
    color: rgb(254, 254, 254);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 1;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(17, 34, 72);
    margin: 25px;
}
.actionable {
    position: relative;
    display: inline-block;
    left: -50%;
    float: left;
    width: auto;
    font-weight: bold;
    z-index: 1;
    font-family: sofia-pro, sans-serif;
    background-color: rgb(240, 96, 34);
    color: rgb(254, 254, 254);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 1;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(254, 254, 254);
    margin: 25px;
}
.actionable:hover {
  background-color: rgb(17, 34, 72);
  color: rgb(254, 254, 254);
  border-color: rgb(240, 96, 34);
}
.bumper {
  width: 80px;
  height: 100vh;
  background-color: #0a1223;
  position: relative;
  display: inline-block;
  margin: 0;
}
.mega {
    height: 100vh;
    width: 400px;
    background-color: rgb(17, 34, 72);
    position: relative;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
    animation: megaMode 5s ease-in 0s 1 normal forwards running;
}
.project {
  width: 392px;
  height: calc(100vh - 8px);
  background-color: #122248;
  position: relative;
  display: inline-block;
  border-width: 4px;
  border-style: solid;
  border-color: #0a1223;
}
.pj-title {
  -webkit-transform: rotate(90deg);
  font-weight: 600;
  font-size: 82px;
  color: white;
  height: 500px;
  margin-left: 112px;
  margin-top: 0;
  transform-origin: left top 0;
  text-align: left;
  position: absolute;
  text-transform: capitalize;
  text-shadow: 0px 0px 20px #000000;
}
.pj-subtitle {
  -webkit-transform: rotate(90deg);
  font-weight: 600;
  font-size: 36px;
  color: white;
  height: 500px;
  margin-left: 136px;
  margin-top: 0;
  transform-origin: left top 0;
  text-align: left;
  position: absolute;
  text-transform: capitalize;
  text-shadow: 0px 0px 20px #000000;
}
.pj-expand {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: #f06022;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 9px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
#pj-icon {
  line-height: 0.8 !important;
  font-size: 18px !important;
}
.pj-graphic {
  height: calc(100vh - 8px);
  width: 392px;
  position: absolute;
  object-fit: cover;
}
.logo {
    position: absolute;
    height: 20%;
    margin-left: 30%;
    margin-top: calc(50vh - 20%);
}
.ring {
    position: absolute;
}
.section-header {
  width: 72px;
  height: calc( 100vh - 8px);
  background-color: #122248;
  border-width: 4px;
  border-style: solid;
  border-color: #0a1223;
  position: relative;
  display: inline-block;
}
.project-list {
  position: relative;
  display: inline-block;
}
.header-beam {
  width: 16px;
  height: 122px;
  position: absolute;
  top: -4px;
  left: 28px;
  background-color: #f06022;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.r1 {
    height: 27.5%;
    /* margin-left: 36.125%; */
    margin-left: 22.5%;
    margin-top: calc(50vh - 27.5%);
    -webkit-animation: rotating 6s linear infinite;
    -moz-animation: rotating 6s linear infinite;
    -ms-animation: rotating 6s linear infinite;
    -o-animation: rotating 6s linear infinite;
    animation: rotating 6s linear infinite;
}
.r2 {
    height: 40%;
    margin-left: 10%;
    margin-top: calc(50vh - 40%);
    -webkit-animation: rotating 6.25s linear infinite;
    -moz-animation: rotating 6.25s linear infinite;
    -ms-animation: rotating 6.25s linear infinite;
    -o-animation: rotating 6.25s linear infinite;
    animation: rotating 6.25s linear infinite;
}
.r3 {
    height: 55%;
    margin-left: -5%;
    margin-top: calc(50vh - 55%);
    -webkit-animation: rotating 6.5s linear infinite;
    -moz-animation: rotating 6.5s linear infinite;
    -ms-animation: rotating 6.5s linear infinite;
    -o-animation: rotating 6.5s linear infinite;
    animation: rotating 6.5s linear infinite;
}
.r4 {
    height: 75%;
    margin-left: -25%;
    margin-top: calc(50vh - 75%);
    -webkit-animation: rotating 6.75s linear infinite;
    -moz-animation: rotating 6.75s linear infinite;
    -ms-animation: rotating 6.75s linear infinite;
    -o-animation: rotating 6.75s linear infinite;
    animation: rotating 6.75s linear infinite;
}
.r5 {
    height: 100%;
    margin-left: -50%;
    margin-top: calc(50vh - 100%);
    -webkit-animation: rotating 7s linear infinite;
    -moz-animation: rotating 7s linear infinite;
    -ms-animation: rotating 7s linear infinite;
    -o-animation: rotating 7s linear infinite;
    animation: rotating 7s linear infinite;
}
.r6 {
    height: 130%;
    margin-left: -80%;
    margin-top: calc(50vh - 130%);
    -webkit-animation: rotating 7.25s linear infinite;
    -moz-animation: rotating 7.25s linear infinite;
    -ms-animation: rotating 7.25s linear infinite;
    -o-animation: rotating 7.25s linear infinite;
    animation: rotating 7.25s linear infinite;
}
/* Nav Column */
.navigation-column {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 78px);
  width: 72px;
  background-color: #122248;
  border-color: #0a1223;
  border-width: 4px;
  border-style: solid;
  z-index: 500;
  padding-top: 70px;
}
.nc-logo {
  position: fixed;
  height: 60px;
  width: 60px;
  top: 10px;
  left: 10px;
}
.nc-menu {
  width: 51px;
  font-weight: 500;
  color: white;
  border-bottom: #f06022;
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 4px;
  margin-left: 10px;
  text-align: center;
  letter-spacing: 2px;
  padding: 0;
  margin-top: 20px;
}
.nc-menu:hover {
  padding-bottom: 4px;
}
.nc-title {
  -webkit-transform: rotate(90deg);
  font-weight: 600;
  font-size: 48px;
  color: white;
  height: 500px;
  margin-left: 77px;
  margin-top: 150px;
  transform-origin: left top 0;
  text-align: left;
  position: absolute;
  text-transform: capitalize;
}
.nct-helper {
  margin: 0;
  left: 77px;
  top: 150px;
  position: fixed;
}
.border-wrap {
  z-index: 400;
  border-width: 4px;
  border-style: solid;
  border-color: #0a1223;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 8px);
  width: 392px;
}
.shelf {
  white-space: nowrap;
  font-size: 0;
}
