.menutoggle {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 48px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAeCAYAAABqpJ3BAAAAAXNSR0IArs4c6QAAAKNJREFUWAntmMENgCAQBNEYerA5y/Cnb2lDahPKwL1IeFAAlzN7yQq8GBYSN+dKKR4KUIKs1APQC/ITPsE5t0MWK8gBEshXi/RgzrNR8IYtB7jbyt4kLmA+K/eG0cpTymCN0FHZOdABOkAHtByQPCFxQv7IkJViFtJ6MP2+zEK9I6PXzEKjHed+dIAO/M4BhB9mIcVbZV9I0fxva/aFlK6g9YVedBxdwqzYgAkAAAAASUVORK5CYII=');
  background-position: center center;
  background-size: cover;
  z-index: 55;
}
.mobilemenucase {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.mm-nav {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.8);
  position: relative;
  font-size: 28pt;
  text-transform: uppercase;
  font-weight: bold;
}
.mm-close {
  height: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  position: absolute;
  bottom: 40px;
  color: red;
  text-align: center;
  font-size: 24pt;
  text-transform: uppercase;
  font-weight: 400;
}
/* MOBILE UI */
@media (max-width: 1000px) {
    .menutoggle {
      display: block;
    }
}
/* DESKTOP UI */
@media (min-width: 1001px) {
    .menutoggle {
      display: none;
    }
}
