* {
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    outline:none;
}
body, html {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #F7F7F7;
}
/* NAVIGATION */
.nav-column {
  position: fixed;
  top: 20px;
  left: 20px;
  height: calc(100vh - 40px);
  width: 100px;
  background-color: #fffef7;
  z-index: 99999999;
}
.nav-entry {
  position: relative;
  height: 80px;
  width: 80px;
  border-width: 10px;
  border-style: solid;
  background-color: #fffef7;
  border-color: #fffef7;
}
.nav-entry:hover {
  border-color: #10334c;
}
.nav-cb-logo {
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
  height: auto;
}
/* HEADER SECTION */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../banner.jpg');
  background-size: cover;
  z-index: 0;
}
.header-ghost {
  position: relative;
  height: calc(100vh - 200px);
  width: 100vw;
}
.welcomemat {
  position: relative;
  height: 200px;
  width: 100vw;
}
.greeter {
  font-size: 72px;
  text-align: left;
  width: calc(100vw - 160px);
  background-color: red;
  left: 140px;
  position: absolute;
  font-family: "gin",sans-serif;
  font-style: normal;
  font-weight: 400;
}
.profilepic {
  height: 200px;
  width: 200px;
  border-radius: 500px;
  position: absolute;
  right: 10vw;
  top: -50px;
}
.scroll-hint {
  height: 50px;
  width: auto;
  position: absolute;
  left: calc(50vw - 25px);
}
.scroll-hint path {
  fill: white !important;
}
/* ABOUT SECTION */
.about {
  height: auto;
  position: relative;
  min-height: 600px;
  width: 100vw;
  background: rgba(250,217,97,1);
  background: -moz-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(250,217,97,1)), color-stop(100%, rgba(247,108,28,1)));
  background: -webkit-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: linear-gradient(135deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad961', endColorstr='#f76c1c', GradientType=1 );
  overflow: hidden;
  z-index: 1;
}
.about-txt {
  width: 100%;
  max-width: 600px;
  font-size: 18px;
  text-align: justify;
  padding-bottom: 20px;
}
/* WORKS SECTION */
.works {
  height: auto;
  position: relative;
  min-height: 600px;
  width: 100vw;
  overflow: hidden;
  background-color: #F7F7F7;
  z-index: 0;
}
.works-slider {
  width: 100vw;
  height: auto;
}
.wk-space {
  width: 10vw;
  height: 10px;
  display: inline-block;
}
.wk-container {
  width: auto;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.wk-card {
  width: 360px;
  height: 260px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  background-color: white;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
 box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
 display: inline-block;
 margin-right: 40px;
 padding: 10px;
}
.wk-title {
  font-weight:700;
  color: black;
  font-size: 28px;
  text-transform: uppercase;
}
.wk-tag {
  background-color: rgba(0,0,0,0.1);
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 5px;
}
.wk-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;
}
.wk-img-inline {
  width: 630px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;
}
.wk-card-end {
  width: 360px;
  height: 260px;
  border-width: 10px;
  border-color: rgba(0,0,0,0);
  border-style: solid;
 display: inline-block;
 margin-right: 40px;
 padding: 10px;
 /* background-image: url(assets/work-end.svg); */
}
/* CONTACT STYLES */
.contact-form {
  width: 100%;
  max-width: 600px;
  margin-left: calc(50% - 300px);
  height: auto;
}
.cf-input {
  width: calc(100% - 40px);
  height: 30px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
}
.cf-input:hover{
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
}
.btn:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
}
.subbtn:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
}
.btn {
  height: 60px;
  max-width: 200px;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-width: 0;
  margin: 0;
  padding: 0;
  background: rgba(250,217,97,1);
  background: -moz-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(250,217,97,1)), color-stop(100%, rgba(247,108,28,1)));
  background: -webkit-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  background: linear-gradient(135deg, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad961', endColorstr='#f76c1c', GradientType=1 );
  display: inline-block;
  color: black;
  text-decoration: none;
  line-height: 60px;
}
.btn-block {
  width: 100%;
  text-align: center;
}
.contact-form>form {
  width: 600px;
}
.subbtn {
  height: 60px;
  max-width: 200px;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-width: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  display: inline-block;
  color: black;
  text-decoration: none;
  line-height: 60px;
}
/* FOOTER STYLES */
.footer {
  height: 300px;
  position: relative;
  background-color: #fffef7;
  margin: 20px;
  width: calc(100% - 40px);
}
.cb-logo-ico {
  position: absolute;
  top: 100px;
  left: calc(50vw - 70px);
  width: 100px;
  height: auto;
}
.footer-text {
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  position: absolute;
  width: 100vw;
  text-align: center;
  bottom: 100px;
}
.footer-text-left {
  color: #10334c;
  position: absolute;
  text-align: right;
  width: calc(50vw - 100px);
  height: 50px;
  left: 0px;
  top: 130px;
  font-size: 24pt;
  font-family: "gin";
}
.footer-text-right {
  color: #10334c;
  position: absolute;
  text-align: left;
  width: calc(50vw - 100px);
  height: 50px;
  top: 130px;
  right: 0px;
  font-size: 24pt;
  font-family: "gin";
}
footer-i {
  font-family: "gin",serif;
  font-style: italic;
  font-weight: 400;
}
/* UNIVERSAL STYLES */
.ghost-title {
  font-weight: 900;
  font-size: 100px;
  color: black;
  opacity: 0.2;
  text-transform: uppercase;
}
.space {
  height: 100px;
  width: 100px;
  position: relative;
}
.upper-bumper {
  margin-top: 30px;
}
.container {
  width: 80vw;
  margin-left: 10vw;
}
